<%- include('header.ejs', {title: "Dashboard" }) %>

    <body>
        <h1>Dashboard</h1>
        <%= name%>
            <div class="btn"> <a href="/logout">Log out</a></div>
    </body>

    </html>